body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
	overflow-x: hidden;
  /*background-color: #EEEEEE;*/
  background-color: white;
}
h1, h2, h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;

}
a {
  color: #3949ab;
}

.navbar {
  margin-bottom: 0;
  /*background-color: #00d8ff;*/
  background-color: #00ffb6;
}
#banner {
  background-image: url('img/ccc-green.png');
	top: 0; left: 0; right: 0; bottom: 0;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: 70vh;
  background-size: contain;

}
.list-group-item :first-child {
    margin-right: 0;
}
.header-page {
  padding-left:4em;
  padding-right:4em;
  padding-top:8em;
  padding-bottom:6em;
}

.black {
  background-color: black;
  color: white;
}
.dark-purple>a {
  color: #00ffb6;
}

.dark-purple {
  background-color: #3949ab;
  color: white;
}
.dark-purple>a {
  color: #00ffb6;
}
.btn {
  color: inherit;
}
.btn:hover {
  color: inherit;
}

.light-green {
  background-color: #00ffb6;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .active {
  /*background-color: #4de4ff !important;*/
  /*background-color: #4dffcc !important;*/
  background-color: #66ffd4 !important;
  color: black;
}

.container {
  margin-bottom: 2em;
}

#embed {
  position:fixed;
  bottom:10px;
  right:30px;
  padding-left:17px;
  padding-right:17px;
  padding-top:13px;
  padding-bottom:13px;
  border-radius:999rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#embed:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#footer-contact {
  margin: 2em;
}
