body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
	overflow-x: hidden;
  /*background-color: #EEEEEE;*/
  background-color: white;
}
h1, h2, h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;

}
a {
  color: #3949ab;
}

.navbar {
  margin-bottom: 0;
  /*background-color: #00d8ff;*/
  background-color: #00ffb6;
}
#banner {
  background-image: url('img/fillertemp.png');
	top: 0; left: 0; right: 0; bottom: 0;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: 70vh;
  background-size: auto 90vh;

}
.list-group-item :first-child {
    margin-right: 0;
}
.header-page {
  padding-left:4em;
  padding-right:4em;
  padding-top:8em;
  padding-bottom:6em;
}

.light-green {
  background-color: #00ffb6;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .active {
  /*background-color: #4de4ff !important;*/
  /*background-color: #4dffcc !important;*/
  background-color: #66ffd4 !important;
  color: black;
}
