<!DOCTYPE html>
<html>
  <head>
    <title>Book Consultation ☁️ Cannabis Cloud Clinic</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css" integrity="sha256-X/mlyZAafJ8j5e74pWh4+qNUD1zurCvLA6hODVobQX0=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js" integrity="sha256-GYcdwXot2kSaBb8kr9o8zDKYBwQ1PCkugjcCYFQS+IA=" crossorigin="anonymous"></script>

    <link href="app.css" rel="stylesheet">

    <!-- page specific stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default">
      <!-- <div class="container"> -->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><img alt="CCC Logo" src="img/CCC-logo-black.png" height="40px"></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li> -->
            <li><a href="eligible.html">① Check Eligibility</a></li>
            <li class="active"><a href="contact.html">② Book Consultation</a></li>
            <li><a href="administer.html">③ Administer</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="doctors.html">Physicians</a></li>
            <li><a href="locations.html">Locations</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <!-- </div> -->
    </nav>
  <div class="bs-component">
    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-success" style="width: 33%"></div>
      <div class="progress-bar progress-bar-info" style="width: 34%"></div>
      <!-- <div class="progress-bar progress-bar-danger" style="width: 67%"></div> -->
    </div>
  </div>
  <div class="container">
    <div class="page-header">
      <h1 id="icon">Book Consultation</h1>

      <p class="lead">A member of our staff will be in touch with you shortly for immediate assistance.</p>
    </div>
    <div ng-app="">
      <div class="well bs-component">
          <form class="form-horizontal">
            <fieldset>
              <!-- <legend>Patient Information Form</legend> -->

              <div class="form-group label-floating is-empty">
                <label class="col-md-2 control-label" for="patientName">Name</label>
                <div class="col-md-10">
                  <input class="form-control" id="patientName" ng-model="patientName" type="text" placeholder="Full Name" style="cursor: auto;" required>
                </div>
              </div>

              <!-- <div class="form-group is-empty">
                <label class="col-md-2 control-label" for="inputEmail">Email</label>

                <div class="col-md-10">
                  <input class="form-control" id="inputEmail" ng-model="inputEmail" type="email" placeholder="Email" style="cursor: auto;">
                </div>
              </div> -->

              <div class="form-group is-empty">
                <label class="col-md-2 control-label" for="patAge">Age</label>

                <div class="col-md-10">
                  <input class="form-control" id="patAge" ng-model="patAge" type="number" placeholder="Age" style="cursor: auto;" required>
                </div>
              </div>

              <div class="form-group label-floating is-empty">
                <label class="col-md-2 control-label" for="patPhone">Phone</label>
                <div class="col-md-10">
                  <input class="form-control" id="patPhone" ng-model="patPhone" type="tel" placeholder="Phone Number" style="cursor: auto;" required>
                </div>
              </div>

              <div class="form-group label-floating is-empty">
                <label class="col-md-2 control-label" for="patCondition">Eligible Condition(s)</label>

                <div class="col-md-10">
                  <select id="patCondition" ng-model="patCondition" multiple="" class="form-control" style="overflow:scroll;" required>
                    <option>ADD/ADHD</option>
                    <option>Alzheimer’s Disease</option>
                    <option>Anxiety</option>
                    <option>Arthritis</option>
                    <option>Auto Accident(s)</option>
                    <option>Back &amp; Neck Problems</option>
                    <option>Brain Injury</option>
                    <option>Cancer</option>
                    <option>Chronic Nausea</option>
                    <option>Chronic Pain</option>
                    <option>Colitis</option>
                    <option>Crohn’s Disease</option>
                    <option>Depression</option>
                    <option>Eating Disorders</option>
                    <option>Epilepsy</option>
                    <option>Fibromyalgia</option>
                    <option>Gastrointestinal Disorders</option>
                    <option>Hepatitis C</option>
                    <option>HIV/AIDS</option>
                    <option>Irritable Bowl Syndrome</option>
                    <option>Kidney Failure/Dialysis</option>
                    <option>Migraines</option>
                    <option>Multiple Sclerosis</option>
                    <option>Muscle Spasms</option>
                    <option>Muscular Dystrophy</option>
                    <option>Parkinson’s Disease</option>
                    <option>Post Traumatic Stress Disorder</option>
                    <option>Severe Arthritis</option>
                    <option>Sexual Dysfunction</option>
                    <option>Sleep Disorders</option>
                    <option>Spinal Cord Injury/Disease</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label" for="patRegion">Region</label>

                <div class="col-md-10">
                  <select id="patRegion" ng-model="patRegion" class="form-control" required>
                    <!-- <option>Select your region</option> -->
                    <option>Brampton, ON</option>
                    <option>Scarborough, ON</option>
                    <option>Toronto, ON</option>
                    <option>Vancouver, BC</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
              <div class="form-group is-empty">
                <label class="col-md-2 control-label" for="bestTime">Availability</label>

                <div class="col-md-10">
                  <textarea id="bestTime" ng-model="bestTime" class="form-control" rows="3" required></textarea>
                  <span class="help-block">Which days, what time is best for our doctor to contact you?</span>
                  <span ng-show="form-horizontal.bestTime.$touched && form-horizontal.bestTime.$invalid">Availability is required.</span>
                </div>
              </div>
            </fieldset>
          </form>
          <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>

              <a ng-href="mailto:md@cannabiscloudclinic.com?Subject=New%20Patient%20-%20{{patientName}}&Body=Age%3A%20{{patAge}}%0APhone%20Number%3A%20{{patPhone}}%0AEligible%20Conditions%3A%20{{patCondition}}%0ARegion%3A%20{{patRegion}}%0A%0AAvailability%3A%20{{bestTime}}%0A%0ARegards%2C%0A{{patientName}}" class="btn btn-default btn-lg btn-block btn-raised">Book Consultation</a>
        </div>
        <div class=" bs-component">
          <!-- <div class="well"> -->
            <!-- <div class="panel-body"> -->
              To learn more about the many ways of administering medical cannabis, <a href="administer.html">go to the next page</a>.
            <!-- </div> -->
          <!-- </div> -->
        </div>

      </div>
    </div>
  </body>
</html>
